title: "Single Input Multi Infer"
log_level: 2
inputs:
    input0:
        source: /opt/edgeai-test-data/raw_images/tiovx_apps/0000.nv12
        width: 1280
        height: 720
        loop: True
    input1:
        source: /opt/edgeai-test-data/raw_images/tiovx_apps/
        width: 1280
        height: 720
        loop: True
models:
    model0:
        model_path: /opt/model_zoo/TFL-CL-0000-mobileNetV1-mlperf
        topN: 5
    model1:
        model_path: /opt/model_zoo/ONR-CL-6360-regNetx-200mf
        topN: 5
    model2:
        model_path: /opt/model_zoo/ONR-OD-8020-ssd-lite-mobv2-mmdet-coco-512x512
        viz_threshold: 0.6
    model3:
        model_path: /opt/model_zoo/ONR-SS-8710-deeplabv3lite-mobv2-cocoseg21-512x512
        alpha: 0.4
outputs:
    output0:
        sink: display
        width: 1920
        height: 1080
    output1:
        sink: /opt/edgeai-test-data/output/output_image.nv12
        width: 1920
        height: 1080
    output2:
        sink: /opt/edgeai-test-data/output/
        width: 1920
        height: 1080

flows:
    flow0: [input1,model0,output0,[320,180,640,360]]
    flow1: [input1,model1,output0,[960,180,640,360]]
    flow2: [input1,model2,output0,[320,540,640,360]]
    flow3: [input1,model3,output0,[960,540,640,360]]